<div class="container-fluid bg-3 text-center"> 
    <center>
      <p>Feito com ❤ no Brasil. © 2020</p>
      <a target="_blank" href="https://github.com/blockchainbrasil">
        <i class="fab fa-github fa-2x"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/company/blockchain-brasil/">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a target="_blank" href="https://twitter.com/blockchainbr">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="mailto:contato@blockchainbrasil.org">
        <i class="fas fa-at fa-2x"></i>
      </a>
      </center>
  </div>


  