<title>BlockchainBrasil.org | <%= page %></title>
<meta charset="utf-8">
<meta name="active-menu" content="<%= menuId %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Blockchain Brasil é uma comunidade de pratica sem fins lucrativos. Um espaço aberto para a divulgação de aplicações, projetos, estudos, eventos e cursos sobre Blockchain">
<meta name="keywords" content="blockchain,brasil,token,criptomoeda,bitcoin,cripto,wavs,ethereum,neo,descentralizada,fintech,defi,economia,digital,tokens">
<meta property="og:type" content="website" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="./stylesheets/style.css">
<link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
<link rel="canonical" href="https://www.blockchainbrasil.org/" />
<script src="https://kit.fontawesome.com/6fc087a7d5.js" crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142812293-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142812293-1');
</script>