<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="logo" href="#"><img width="150" height="51" src="./images/logo.png" alt="BlockchainBrasil.org"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="eventos"><a href="/eventos">EVENTOS</a></li>
          <li id="livros"><a href="/livros">LIVROS</a></li>
          <li id="vagas"><a href="/vagas">VAGAS</a></li>
          <li id="empresas"><a href="/empresas">EMPRESAS</a></li>
          <li id="mundo"><a href="/mundo">MUNDO</a></li>
          <li id="about"><a href="/sobre">SOBRE</a></li>
          <li id="contact"><a href="/contato">CONTATO</a></li>
        </ul>
      </div>
    </div>
  </nav>