<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      
    </div>
    <div class="col-sm-4"> 
      <p>Ainda estamos ajeitando nossa casa novamente, enquanto isso você pode nos seguir em nossas redes sociais.</p>
      <br>
        <a target="_blank" href="https://github.com/blockchainbrasil">
          <i class="fab fa-github"></i>
        </a>
        <a target="_blank" href="https://www.linkedin.com/company/blockchain-brasil/">
          <i class="fab fa-linkedin"></i>
        </a>
        <a target="_blank" href="https://twitter.com/blockchainbr">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="mailto:contato@blockchainbrasil.org">
          <i class="fas fa-at"></i>
        </a>
    </div>
    <div class="col-sm-4"> 

    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>