<!DOCTYPE html>
<html lang="pt-BR">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4"> 
      <p>Blockchain Brasil é uma comunidade de pratica sem fins lucrativos. Um espaço aberto para a divulgação de aplicações, projetos, 
        estudos, eventos e cursos sobre Blockchain.</p>
    </div>
    <div class="col-sm-4"> 

    </div>
  </div>
</div>

<div class="container-fluid bg-3 text-center">    
  <h3>Colaboradores</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p><center><img width="237" height="278" src="./images/foto_marcela.jpg" alt="Marcela Gonçalves"></center></p>
      <a target="_blank" href="https://www.linkedin.com/in/marcelargoncalves/">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
      <a target="_blank" href="https://www.instagram.com/marcelagoncalvesblockchain/">
        <i class="fab fa-instagram" fa-lg></i>
      </a>
      <p>Marcela Gonçalves possui mais de 15 anos de experiência na Liderança de projetos em Inovação, Desenvolvimento de softwares e Planejamento de Negócios nas áreas Industrial, de Gestão e TI, utilizando as principais metodologias PMI, BPM, Process Mining, Predictiv Analytics, Canvas. Atuando em empresas de Consultoria, Deloitte, IBM/SIX, E&Y e Atos Origin, atendendo a clientes como TIM, VALE, VLI, Petrobras e Rio2016.</p>
      <p>Atualmente pesquisando e estruturando iniciativas de Business Transformation, Blockchain e IOT. Idealizadora da comunidade de práticas BlockchainBrasil.org, Community builder das Women in Blockchain BR, Consórcio Blockchain Brasil BR e Membro do Grupo de Estudos sobre Padronização de Práticas ABNT/ISO-307 e do Grupo de Estudos de Blockchain & Interesse Público do ITS-Rio, IRIS-BH e participante do grupo de estudos sobre padronização de práticas e responsável pela vertical de saúde do grupo de casos de uso do Organização das Nações Unidas (ONU).</p>
    </div>
    <div class="col-sm-4"> 
      <p><center><img width="237" height="278" src="./images/foto_lyra.jpg" alt="João Guilherme Lyra"></center></p>
      <a target="_blank" href="https://www.linkedin.com/in/jo%C3%A3o-guilherme-lyra-58912116/">
        <i class="fab fa-linkedin fa-lg" ></i>
      </a>
      <p>João Guilherme Lyra é autor do livro “<a target="_blank" href="https://www.amazon.com.br/gp/product/B07NQPCD98/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07NQPCD98&linkCode=as2&tag=blockchainb0a-20&linkId=72bf09f8c91d5642c106c5d5c4c02b87">Blockchain e Organizações Descentralizadas</a><img src="//ir-br.amazon-adsystem.com/e/ir?t=blockchainb0a-20&l=am2&o=33&a=B07NQPCD98" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />”. Procura estudar os novos modelos socioeconômicos que surgem em redes virtuais e oferecem novas formas de monetização as pessoas, assim busca refletir o sobre o futuro do trabalho e renda, acreditando que a tecnologia blockchain é a vanguarda desta nova economia. João Lyra também é administrador, pós-graduado em Gestão e Marketing pela ESPM. Mestre em Engenharia, com ênfase em Sistema de Gestão, pela UFF. Possuí experiência profissional em docência universitária e Organizações Descentralizadas.</p>
    </div>
    <div class="col-sm-4"> 
      <p><center><img width="237" height="278" src="./images/foto_evandro.png" alt="Evandro Reis Matias"></center></p>
      <a target="_blank" href="https://github.com/ereismatias/">
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/ereismatias/">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
      <a target="_blank" href="https://twitter.com/ereismatias">
        <i class="fab fa-twitter fa-lg"></i>
      </a>
      <a target="_blank" href="https://evandro.dev">
        <i class="fas fa-globe fa-lg"></i>
      </a>
      <p>
        Evandro Reis Matias programador há mais de 10 anos atuando em pequenas, médias e grandes empresas com foco em desevolvimento em ERP SAP.
        Conhece Blockchain (Bitcoin) desde 2010 e já palestrou sobre Blockchain na 
        <a href="https://campuse.ro/events/Campus-Party-Bahia-2018/workshop/tokenizacao-de-ativos-na-plataforma-waves-cpba2" target="_blank" 
        title="Campus Party Salvador">Campus Party Salvador</a>, 
        <a href="https://guiadobitcoin.com.br/noticias/camara-de-comercio-da-franca-no-brasil-organiza-evento-de-blockchain/" target="_blank" 
        title="Câmara Comércio Brasil-França">Câmara Comércio Brasil-França</a>, na <a href="https://livecoins.com.br/conamov-congresso-nacional-de-moedas-virtuais-online-e-gratuito/" target="_blank" 
        title="Conamov">Conamov</a> e também no 
        <a href="https://steemit.com/blockchain/@blockchainbrasil/blockchain-brasil-colaborando-com-o-nucleo-de-inovacao-da-globo" target="_blank"
        title="Núcleo de Inovação da Globo">Núcleo de Inovação da Globo</a>.
        Além disso também participei do podcast BitCast - Transformando tudo em Blocos <a href="https://bitcast.site/2017/bitcast-001-transformando-tudo-em-blocos-parte-1/" target="_blank" 
        title="BitCast">parte 1</a> e na <a href="https://bitcast.site/2017/bitcast-002-transformando-tudo-em-blocos-parte-2-especial-waves/"target="_blank" 
        title="BitCast">parte 2</a>.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid bg-3 text-center">    
  <h3>Parceiros</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p><center><a href="https://www.linkedin.com/company/wibbrasil/" target="_blank"><img width="196" height="196" src="./images/wibbrasil.jpg" alt="Women In Blockchain Brasil"></a></center></p>
      <a target="_blank" href="https://www.linkedin.com/company/wibbrasil/">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
      <a target="_blank" href="https://twitter.com/wibbrasil">
        <i class="fab fa-twitter fa-lg"></i>
      </a>
    </div>
    <div class="col-sm-4"> 
      <p><center><a href="https://www.wavesbrasil.com.br" target="_blank"><img width="196" height="196" src="./images/wavesbrasil.png" alt="WavesBrasil.com.br"></a></center></p>
      <a target="_blank" href="https://www.wavesbrasil.com.br">
        <i class="fas fa-globe fa-lg"></i>
      </a>
      <a target="_blank" href="https://t.me/WavesBrasil">
        <i class="fab fa-telegram fa-lg"></i>
      </a>
      <a target="_blank" href="https://www.facebook.com/WavesBrasilOficial/">
        <i class="fab fa-faceboook fa-lg"></i>
      </a>
      <a target="_blank" href="https://twitter.com/Waves_Brasil">
        <i class="fab fa-twitter fa-lg"></i>
      </a>
      <a target="_blank" href="https://www.instagram.com/brasilwaves/">
        <i class="fab fa-instagram" fa-lg></i>
      </a>
    </div>
    <div class="col-sm-4"> 

    </div>
  </div>
</div>

<% include partials/footer %>
</body>
<% include partials/script %>
</html>