<!DOCTYPE html>
<html lang="pt-BR">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      
    </div>
    <div class="col-sm-4"> 
        <center><a href="#"><img data-toggle="modal" data-target="#artigo0001" width="400" height="336" src="/images/artigo_0001.png" alt="Uma perspectiva da tecnologia Blockchain no setor de energia.."></a></center>
        <p>Escrito por Por Marcela Gonçalves e Jennifer Simões</p>
    </div>
    <div class="col-sm-4"> 

    </div>
  </div>
</div>

<!-- Artigo 0001 -->
  <div class="modal fade" id="artigo0001" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title" id="myModalLabel">Uma perspectiva da tecnologia Blockchain no setor de energia.</h3>
          <h5 class="modal-title" id="myModalLabel">Por Marcela Gonçalves e Jennifer Simões.</h5>
        </div>
        <div class="modal-body">
            <p><b>O que é Blockchain</b></p>
            <p>Muito tem se falado sobre tecnologias emergentes e seu potencial de transformação da sociedade como conhecemos, entre elas temos as tecnologias cognitivas, internet das coisas, realidade imersiva, computação quântica e Blockchain.</p>
            <p>A tecnologia Blockchain, incialmente nomeada de Bitcoin, atraiu um grande interesse do setor financeiro, indústria de serviços e outros setores devido à sua capacidade de registrar diversas transações de diferentes tipos de ativos entre duas ou mais partes de forma segura, barata e sem intermediários. Criou-se assim uma nova via de democratização da tecnologia para pequenas e médias empresas, fornecendo uma infraestrutura global, capaz de transformar processos existentes nos negócios, em governança e na sociedade.</p>
            <br>
            <p><b>Nova Construção da Verdade</b></p>
            <p>Segundo o Relatório Trust Barometer da Edelman, nos últimos anos o mundo vem passando por uma grande crise de confiança, onde as pessoas passaram a ter confiança somente em relações sob seu controle, o que acaba por gerar o descrédito que diversas áreas vêm sofrendo. Nesse cenário, as empresas de serviço públicas e privadas enfrentam pressões de autoridades reguladoras pelo aumento da transparência em suas operações. </p>
            <p>Não sendo diferente para o setor de Utilidade e Energia, Blockchain possibilita a criação de um ambiente sem disputa, transparente e rastreável, e esses elementos ainda poderiam promover, por exemplo, uma nova geração de aplicativos transacionais, capazes de estabelecer confiança, responsabilidade e transparência. Um relatório comercial da Deloitte ...<p></p>
            <br>
            <p>Você pode continuar lendo o artigo em sua publicação original acessando <a href="https://fgvenergia.fgv.br/sites/fgvenergia.fgv.br/files/janeiro_-_2020_v3.pdf" target="_blank">Boletim de Conjuntura do Setor de Energia FGV Jan2020</a>.</p>
        </div>
      </div>
    </div>
  </div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>