<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
    <% include partials/menu %>
    <div class="container">
        <div class="row">
            <h1>Obrigado por sua mensagem!</h1>
        </div>
        <hr>
        <div class="row" style="height:300px;">
            <p>Obrigado por nos contatar. Entraremos em contato o mais breve possível.</p>
            
           
        </div>
    </div>
    </body>
    <% include partials/script %>
    </html>
