<!DOCTYPE html>
<html lang="pt-BR">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
  <center><img width="400" height="336" src="/images/404.png" alt="Erro 404 - Página não encontrada."></center>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>