<!DOCTYPE html>
<html lang="pt-BR">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      
    </div>
    <div class="col-sm-4"> 
      <p>Ainda vai demorar um pouquinho até que nossa nova casa esteja pronta, enquanto isso você pode nos seguir em nossas redes sociais.</p>

    </div>
    <div class="col-sm-4"> 

    </div>
  </div>
</div>
<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-4">
      
    </div>
    <div class="col-sm-4"> 
      <form class="form-signin" id="newsletter" name="newsletter" action="/newsletter" method="POST">
        <div class="form-label-group">
          <input type="email" id="email" name="email" class="form-control" placeholder="Cadastre seu e-mail e receba as novidades!" required="" autofocus="" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
        </div>
        <br>
          <button class="btn btn-lg btn-primary btn-block" data-editfield="subscribe" type="submit">Cadastre-se!</button>
      </form>

    </div>
    <div class="col-sm-4"> 

    </div>
  </div>
</div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>