<!DOCTYPE html>
<html lang="pt-BR">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4"> 
        <p>Aprender nunca é demais e caso esse seja o seu objetivo, nesta seção vamos recomendar alguns livros inspiradores para aprender sobre Blockchain, Bitcoin, Criptomoedas e Tecnologias Disruptivas, esperamos que essa singela lista de livro possa ajudar a entender melhor esse universo tecnológico.</p>
    </div>
    <div class="col-sm-4"> 

    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=B07NQPCD98&asins=B07NQPCD98&linkId=09b730bbc73002d8c4c8fe7b15cca5fb&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
        
    </div>
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=8581190766&asins=8581190766&linkId=b29c27e14eff34bd0192d956c13e090b&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=B071K7FCD4&asins=B071K7FCD4&linkId=991ce4f7247db477e2e0b9718fd98b46&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=1119473861&asins=1119473861&linkId=8dfea3d6816467551ffc2b6be7bcff18&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=B08C67BM3T&asins=B08C67BM3T&linkId=f81d4d922506772cafc4115d8c4fa151&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=B01D8KFX9Q&asins=B01D8KFX9Q&linkId=ea4fe1dd7ee88b0b2b8b7839e3d02799&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=B07H2L4CRX&asins=B07H2L4CRX&linkId=d52aeef595810c1c189f538ed0b4cc82&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=B07X3ZCGKB&asins=B07X3ZCGKB&linkId=9af43d8dc39e66727e0206501884a08a&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=1491971940&asins=1491971940&linkId=8348965784ca462020e71134641c7f8e&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=8550804614&asins=8550804614&linkId=03e69ad7b53b7cfba758b4f03952f2d7&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=8550800678&asins=8550800678&linkId=b2638d71b4ca4f93b3588e3bb6bbc312&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=8550804614&asins=8550804614&linkId=285906fccbe1b578fa3739d1da2d1a64&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=B07C55JYYY&asins=B07C55JYYY&linkId=c69f554d10f9b9ac1e2d7ab227c949e2&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=B07Y173W9R&asins=B07Y173W9R&linkId=78c08af3a898b75caab61b4c2878ca4a&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=8582850700&asins=8582850700&linkId=fd08d324c974c54e4209c9a3557113e8&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=1491920491&asins=1491920491&linkId=c6076477a9df25186732c04d60860547&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=8545203705&asins=8545203705&linkId=c0a92dbe07c62c63fe8d55bd3440caa1&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
    <div class="col-sm-4"> 
        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=blockchainb0a-20&marketplace=amazon&region=BR&placement=8551906704&asins=8551906704&linkId=6e797c36da28958625647b3824da0e1f&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
        </iframe>
    </div>
  </div>
</div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>



