<!DOCTYPE html>
<html lang="pt-BR">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      
    </div>
    <div class="col-sm-4"> 
      <p>Ainda vai demorar um pouquinho até que nossa nova casa esteja pronta, enquanto isso você pode nos seguir em nossas redes sociais.</p>

    </div>
    <div class="col-sm-4"> 

    </div>
  </div>
</div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>